In [1]:
import pandas as pd
import time

file ='from12.02.csv'

data = pd.read_csv(file)

In [3]:

data['Date'] = data['UnixTimestamp'].apply(lambda x: time.strftime('%Y-%m-%d %H:%M:%S', time.gmtime(x)))

data['Day'] = data['UnixTimestamp'].apply(lambda x: time.strftime('%Y-%m-%d', time.gmtime(x)))

data['Day'] = data['Day'] = pd.to_datetime(data['Day'])

In [4]:
data['Week']= data['Day'].apply(lambda x:x.weekofyear)

In [5]:
data.head()

,Txhash,Blockno,UnixTimestamp,DateTime,From,To,Quantity,Date,Day,Week
0,0xfd5f1b61d998025743510a1e55f140ab2b70bcb1115c...,6809317,1543708856,12/2/2018 12:00:56 AM,0x2b5634c42055806a59e9107ed44d43c426e58258,0xe93eb16525ec76d630fe7aea4ca3aca74846d2c4,18479.81820,2018-12-02 00:00:56,2018-12-02,48
1,0x0d1e167e50a49f3a908c2abe9cdf56981da0810cd341...,6809339,1543709210,12/2/2018 12:06:50 AM,0x2b5634c42055806a59e9107ed44d43c426e58258,0xad5ba19477afe9227c917d72cf9ece420f0732ad,11036.90820,2018-12-02 00:06:50,2018-12-02,48
2,0xd148cd5814861b2e461bad3be5635a492a94a155c421...,6809343,1543709250,12/2/2018 12:07:30 AM,0xa658979cbbf10627d9e85f4acf3c59f707452505,0xfbef6580ec22d0cd305cd1dad6f24653faad2e5f,47051.93788,2018-12-02 00:07:30,2018-12-02,48
3,0xaac90302451adec7aa9e15d093deb7068ea65eb94355...,6809383,1543709897,12/2/2018 12:18:17 AM,0xfbef6580ec22d0cd305cd1dad6f24653faad2e5f,0xfa4b5be3f2f84f56703c42eb22142744e95a2c58,47051.93788,2018-12-02 00:18:17,2018-12-02,48
4,0x7a8d0320366b33a05e1a4a5d31d462267437c096dd74...,6809410,1543710281,12/2/2018 12:24:41 AM,0x2b5634c42055806a59e9107ed44d43c426e58258,0x13e46617783e646fdafc4f5d373d571932ad0a61,199.00000,2018-12-02 00:24:41,2018-12-02,48

In [28]:
type(data['Quantity'][0])

numpy.float64

In [7]:
data.shape

(2232, 10)

In [8]:
start_time = pd.to_datetime('2018-12-2')
end_time = pd.to_datetime('2018-12-09')

interval = data.loc[(data['Day'] >= start_time) & (data['Day'] <= end_time)]

In [9]:
amount_all = interval.shape[0]

quantity_all = interval['Quantity'].sum()

In [10]:
quantity_all

37459628.68028265

In [21]:
interval.loc[(interval['From'] == '0x5c985e89dde482efe97ea9f1950ad149eb73829b') or (interval['To'] == '0x5c985e89dde482efe97ea9f1950ad149eb73829b')]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [13]:
exchange = {'Gate':['0x1c4b70a3968436b9a0a9cf5205c787eb81bb558c',
                        '0x0d0707963952f2fba59dd06f2b425ace40b492fe'],
                'Huobi':['0xfdb16996831753d5331ff813c29a93c76834a0ad',
                         '0xe93381fb4c4f14bda253907b18fad305d799241a',
                         '0x1062a747393198f70f71ec65a582423dba7e5ab3',
                         '0xeee28d484628d41a82d01e21d12e2e78d69920da',
                         '0xadb2b42f6bd96f5c65920b9ac88619dce4166f94',
                         '0x5c985e89dde482efe97ea9f1950ad149eb73829b',
                         '0xab5c66752a9e8167967685f1450532fb96d5d24f',
                         '0x6748f50f686bfbca6fe8ad62b22228b87f31ff2b',
                         '0xfa4b5be3f2f84f56703c42eb22142744e95a2c58',
                         '0x46705dfff24256421a05d056c29e81bdc09723b8'],
                'IDEX':['0x2a0c0dbecc7e4d658f48e01e3fa353f44050c208 '],
                'Kucoin':['0x2b5634c42055806a59e9107ed44d43c426e58258']
                }

In [20]:
for i,j in exchange.items():
    print(i)
    print(j)

Gate
['0x1c4b70a3968436b9a0a9cf5205c787eb81bb558c', '0x0d0707963952f2fba59dd06f2b425ace40b492fe']
Huobi
['0xfdb16996831753d5331ff813c29a93c76834a0ad', '0xe93381fb4c4f14bda253907b18fad305d799241a', '0x1062a747393198f70f71ec65a582423dba7e5ab3', '0xeee28d484628d41a82d01e21d12e2e78d69920da', '0xadb2b42f6bd96f5c65920b9ac88619dce4166f94', '0x5c985e89dde482efe97ea9f1950ad149eb73829b', '0xab5c66752a9e8167967685f1450532fb96d5d24f', '0x6748f50f686bfbca6fe8ad62b22228b87f31ff2b', '0xfa4b5be3f2f84f56703c42eb22142744e95a2c58', '0x46705dfff24256421a05d056c29e81bdc09723b8']
IDEX
['0x2a0c0dbecc7e4d658f48e01e3fa353f44050c208 ']
Kucoin
['0x2b5634c42055806a59e9107ed44d43c426e58258']

In [39]:
ex = {'a':[2,4],'b':[1,3]}

In [43]:
pd.DataFrame(ex,index=['aa',' bb'])

     a  b
aa   2  1
 bb  4  3